version: '3.8'
services:

  admin:
    container_name: admin
    image: 684138814448.dkr.ecr.eu-west-1.amazonaws.com/eas-admin
    environment:
      - DEBUG=false
    ports:
      - 6012:6012
    volumes:
      - admin:/eas
      - ~/.aws/:/root/.aws:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    depends_on:
      - api
    # networks:
    #   - frontend

  api:
    container_name: api
    image: 684138814448.dkr.ecr.eu-west-1.amazonaws.com/eas-api
    ports:
      - 6011:6011
    volumes:
      - api:/eas
      - ~/.aws/:/root/.aws:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    depends_on:
    #  - celery
      - postgres
    # networks:
    #   - frontend
    #   - backend

  celery:
    container_name: celery
    image: 684138814448.dkr.ecr.eu-west-1.amazonaws.com/eas-celery
    volumes:
      - celery:/eas
      - ~/.aws/:/root/.aws:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    # networks:
    #   - backend

  postgres:
    container_name: postgres
    image: 684138814448.dkr.ecr.eu-west-1.amazonaws.com/eas-postgres
    environment:
      # (required) - This will be the prefix of your email address without the fujitsu domain name (e.g. lewis.stevens) 
      - EMAIL_PREFIX=jonathan.owens1
    ports:
      - 5432:5432
    volumes:
      - db:/eas
      - database:/var/lib/postgresql
      - ~/.aws/:/root/.aws:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    # networks:
    #   - backend

volumes:
  # application:
  #   driver: local
  admin:
    driver: local
  api:
    driver: local
  celery:
    driver: local
  db:
    driver: local
  database:
    driver: local

# networks:
#   frontend:
#     driver: bridge
#     # ipam:
#     #   driver: default
#     #   config:
#     #     - subnet: 172.20.0.0/16
#   backend:
#     driver: bridge