[Unit]
Description='EAS api flask server'

[Service]
ExecStart=/bin/sh -c 'ps aux | grep -ie 6011 | awk "{print $2}" | xargs kill -9; . /venv/eas-api/bin/activate && cd /eas/emergency-alerts-api && . /eas/emergency-alerts-api/environment.sh && flask run -p 6011 --host=0.0.0.0'

Restart=on-failure

[Install]
WantedBy=multi-user.target