[Unit]
Description='EAS admin flask server'

[Service]
ExecStart=/bin/sh -c 'ps aux | grep -ie 6012 | awk "{print $2}" | xargs kill -9; . /venv/eas-admin/bin/activate && cd /eas/emergency-alerts-admin && . /eas/emergency-alerts-admin/environment.sh && flask run -p 6012 --host=0.0.0.0'

Restart=on-failure

[Install]
WantedBy=multi-user.target
